# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://postgres:password@localhost:5432/ai_edu_crm?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="your-nextauth-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
